
body{
    margin:0;
    padding: 0;
}
img{
    width: 100%;
}
.imagenes{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.columnas{
    flex: 25%;
    padding: 5px;
}
.columnas img{
    margin-top: 5px;
}
.contacto{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    margin-top: 90px;
}
.contacto h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.contacto a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.contacto form .campo, textarea{
    width: 100%;
    padding: 15ox 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.contacto form textarea {
    max-width: 530px;
    min-width: 53opx;
    min-height: 140px;
    max-height: 150px;
}
@media (max-width: 768px){
    .columnas{
        flex: 100%;
    }
    .contacto{
        width: 100%;
        max-width: 1100px;
        margin: auto;
        display: inline;
        text-align: center;
        justify-content: center;
       
        
    }
}
